.DS_Store
# Ignore all __pycache__ directories
/__pycache__/

# Ignore all .pyc files
*.pyc
# Ignore all built files
*.so
# Ignore all logs.txt files
*.txt
# Ignore all build directories
/Octree/build/